<div data-ng-init="init()" data-ng-controller="PreviewController" class="tpp_box">

  <div class="tpp_box_wrap">
    <div id="tpp-print-frame"
         class="tpp_print_frame">
      <div data-ng-repeat="card in itemsToPrint"
           class="tpp_print_card_container">
        <div class="tpp_print_card"
             data-ng-class="{epic: card.isEpic, story: !card.isEpic}"
             data-ng-style="getStoryStyle(card)">
          <div class="tpp_print_card_content">
            <div>
              <img data-ng-src="{{ card.qrCodeUrl }}"/>
            </div>
            <div class="title">
              <span class="title_text">{{ card.name | removeHashTags}}</span><br/>
              <!--<span>IP-{{ card.idShort }}</span>-->
            </div>

            <div class="tpp_clear_float"></div>
            <!--
            <div class="description"
                 data-ng-bind-html-unsafe="card.desc | newlines | removeHashTags">
            </div>
            -->
            <div class="description"
                 data-ng-bind-html-unsafe="">
            </div>
            

            <div class="tpp__card--owner">
              Members:
              <strong data-ng-repeat="member in card.members">
                <img
                        class="member-avatar" height="30" width="30"
                        src="https://trello-avatars.s3.amazonaws.com/{{member.avatarHash}}/30.png"
                        alt="{{member.fullName}} ({{member.initials}})"
                        title="{{member.fullName}} ({{member.initials}})">
                {{member.initials}}
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>