<div class="tpp_box">
  <p class="tpp_title">
    <a class="tpp_button blue"
       data-ng-click="print()">Print'em All</a>
  </p>

  <div class="tpp_box_wrap">
    <div id="tpp-print-frame"
         class="tpp_print_frame">
      <div data-ng-repeat="card in itemsToPrint"
           class="tpp_print_card_container">
        <div class="tpp_print_card"
             data-ng-class="{epic: card.isEpic, story: !card.isEpic}">
          <div class="tpp_print_card_content">
            <div>
              <img data-ng-src="{{ card.qrCodeUrl }}"/>
            </div>
            <div class="title">
              <span class="title_text">{{ card.name | removeHashTags }}</span><br/>
              <span>IP-{{ card.idShort }}</span>
            </div>

            <div class="tpp_clear_float"></div>
            <div class="description"
                 data-ng-bind-html-unsafe="card.desc | newlines | removeHashTags"></div>
            <div class="owner">
              Owner: {{ card.members | initials }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>