<div data-ng-init="init()" data-ng-controller="PreviewController" class="tpp_box">

  <div class="tpp_box_wrap">
    <div id="tpp-print-frame"
         class="tpp_print_frame">
      <div class="tpp_print_check_item_border">
        <div class="tpp_print_check_item"
             data-ng-class="{epic: card.isEpic, story: !card.isEpic}">
          <div class="tpp_print_check_item_container">
            <div class="tpp_print_check_item_id">IP-{{ itemsToPrint[0].card.idShort }}: {{ itemsToPrint[0].card.name
              }}
            </div>
            <div class="tpp_print_check_item_name">{{ itemsToPrint[0].card.desc }}</div>
            <span class="tpp_print_check_item_owner">Owner: {{ itemsToPrint[0].card.members | initials }}</span>
          </div>
        </div>
      </div>
      <div class="tpp_print_check_item_border"
           data-ng-repeat="checkItem in itemsToPrint">
        <div class="tpp_print_check_item task">
          <div class="tpp_print_check_item_container">
            <div class="tpp_print_check_item_id">IP-{{ checkItem.card.idShort }}</div>
            <div class="tpp_print_check_item_name">{{ checkItem.name }}</div>
            <span class="tpp_print_check_item_owner">Owner: {{ checkItem.card.members | initials }}</span>
          </div>
        </div>
      </div>
      <div class="tpp_clear_float">&nbsp;</div>
    </div>
  </div>
</div>
