/*******************************
	VARIABLES
********************************/

$white: #fff;
$trello_blue: #27709b;
$trello_grey: #e3e3e3;
$trello_border_grey: #b9b9b9;
$button_hover: #318ec4;
$text_dark_grey: rgb(57,57,57);
$epic_color: rgb(201,59,72);
$story_color: rgb(255,204,0);

$default_padding: 8px;
$border_radius: 3px;


body {
	background: $trello_blue;
	color: $text_dark_grey;
	padding: $default_padding;
}

.tpp_container {
	width: 650px;
}

.tpp_clear_float {
  with: 100%;
  content: ' ';
  clear: both
}

.tpp_hide {
	background: $white;
	border: 0;
	display: block;
	margin: 0 0 20px 0;
}

.tpp_box {
	border-radius: $border_radius;
	padding: $default_padding;
	
	.tpp_box_wrap {
		background: $trello_grey;
		border-radius: 4px;
		padding: 8px;
	}
	
	.tpp_title {
		color: $white;
	}
	
	.tpp_listWithItems {
		background: $white;
		border: 1px solid $trello_border_grey;
		border-radius: $border_radius;
		margin: 0 0 4px;
		padding: $default_padding;
		
		&:hover {
		  border-color: $button_hover;
		  cursor: pointer;
		}
	}
	
	.tpp_item {
		background: $white;
		border: 1px solid $trello_border_grey;
		border-radius: 4px;
		margin: 0 0 4px;
		padding: 4px;
		
		&:hover {
		  border-color: $button_hover;

			.tpp_button {
				background: $button_hover;
				border-color: $button_hover;
				color: $white;
			}
		}
	}
}

.tpp_button {
	background: #e6e6e6;
	border: 1px solid #d9d9d9;
	border-bottom-color: #d3d3d3;
	border-radius: 2px;
	cursor: pointer;
	font-size: 12px;
	padding: 4px;
	position: relative;
	text-decoration: none;

	&.on_grey {
		background: -webkit-linear-gradient(top, #fff 0, #f3f3f3 100%);
		background: linear-gradient(to bottom, #fff 0, #f3f3f3 100%);
		border: 1px solid #cecece;
		border-bottom-color: #a0a0a0;
		display: inline-block;
		font-weight: bold;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		text-decoration: none;
		text-overflow: ellipsis;
	}
	
	&.blue {
    color: $white;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.23) 0, rgba(255,255,255,0.2) 100%);
		border: 0;
		
		&:hover {
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.33) 0, rgba(255,255,255,0.33) 100%);
		}
	}
	
	&:hover,
	&.tpp_list_opened {
		background: $button_hover;
		border-color: $button_hover;
		color: $white;
	}
	
}


/*******************************
	PRINT'EM ALL
********************************/

.tpp_print_card_container {
  background: $white;
  page-break-inside: avoid;
  border: 2px solid $trello_border_grey;
  width: 500px;
  height: 300px;
  overflow:hidden;
  position: relative;

  .tpp_print_card {
    margin: auto;
    height: 280px;

    .tpp_print_card_content {
      margin: 10px;

      .title {
        position:absolute;
        top: 30px;
        left:120px;
        width:360px;
        font-weight: bold;

        .title_text {
          font-size: 20px;
        }
      }

      .description {
        height: 120px; overflow: hidden;
      }

      .owner {
        width: 460px;
        position: absolute;
        border-top: 1px solid $trello_grey;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .epic { border: 10px solid $epic_color; }
  .story { border: 10px solid $story_color; }
}
